    /*UNIVERSIAL STYLES*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border:1px solid black; */
}

body {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5; 
    font-size:  16px;
}

.wrapper, footer{
    width:100%;
    min-width:360px;
    max-width:1400px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.current {
    text-decoration:underline;
}

ul {
    list-style-type:none;
}

img { 
    max-width: 100%;
} 

    /* TOP NAV STYLES */
@media (max-width:495px) {
    .topnav.responsive li {
        display:block;
        text-align:left;
    }
    .topnav li {
        display:none;
    }
    nav ul {
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    nav li {
        font-size:1.8em;
        margin-left:0.1em;
    }
    .icon {
        font-size:2em;
        margin:0.12em;
    }
}

nav ul {
    display:flex;
    justify-content:space-evenly;
}

nav a {
    font-family: 'Permanent Marker', cursive;
    color:#ffffff;
    font-weight: bold;
}

nav li {
    display:inline-block;
    margin-top: -12px;
}

header {
    overflow: hidden;
    background-color:lightgray;
} 

    /* LOGO/ICON STYLES */

img.logo-round {
    width:20%;
    margin: 0.3em 0 0 0.5em;
}

img.logo-batch {
    margin:0 auto;
}

/*INSTAGRAM*/
/* .ig {
    text-align: center;
    text-decoration: none;
    background: rgb(217, 16, 167);
    border-radius: 50%;
    width:1.6em;
}
    
.ig:hover {
      opacity: 0.7;
  } */


    /* IMAGE STYLES */



    /*HOME PAGE STYLES*/ 

/*SHOP SECTION*/









    /* FOOTER STYLES  */

/*GRID FOR TOP OF FOOTER*/
footer {
    height: auto;
    background:#e7ebee;
    display:grid;
    grid-gap:4px;
    grid-template-columns: 
        repeat(6, 1fr);  
}

.quick-links li {
    padding:2%;
}


    /*MOBILE*/
    @media all and (max-width:495px) {
.sign-up {
    grid-column: 1 / span 7;
    margin:0.6em;
}
.quick-links {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin: 0.5em 1em;
}
.bottom-links {
    grid-column: 1 / span 7;
    grid-row: 3;

}
    }


@media all and (min-width:496px) {
footer {
    padding:3%;
}
.sign-up {
    grid-column: 1 / span 4;
    margin:3%;
}
.quick-links {
    grid-column: 5 / span 2;
    margin:3%;
}
.bottom-links {
    grid-column: 1 / span 7;
    grid-row: 2;
    margin:3%;
}
    } 
        

/*FORM*/
footer fieldset {
    padding:1em;
}


/*BOTTOM FOOTER STYLES*/

.bottom-links {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-bottom:20px;
}
.bottom-links li {
    display:inline-block;
}

